main {
    width: 600px;
    height: 1000px;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: 40px;
    margin-left: calc((100% - 500px)/2);
}

#info {
    margin-left: 60px;
    padding-top: 40px;
}

#eventdetails {
    margin-top: 40px;
}

#column {
    float: left;
    width: 30px;
    margin-top: 20px;
    height: 340px;
    color: rgb(92, 92, 92);
}

.dots {
    font-size: 25px;
    height: 10px;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 0px;
}

#cart {
    width: 15px;
    margin-left: 7px;
    height: 15px;
}

#infocolumn {
    float: left;
    width: 440px;
    margin-top: 20px;
    height: 340px;
}

.topline {
    font-size: 14px;
    font-weight: bold;
    line-height: 10px;
    height: 15px;
    
}
.topline2 {
    font-size: 12px;
    font-weight: 550;
    color: rgb(48, 48, 48);
}


.firstname {
    display: inline-block;
    margin-top: 5px;
}
.lastname {
    display: inline-block;
    margin-left: 15px;
    margin-top: 5px;
}

.nameinput {
    width: 200px;
    background-color: transparent;
    outline: 0;
    border-width: 0 0 1.5px;
    
}
#nameinfo {
    margin-top: 0px;
}
#mail {
    margin-top: 20px;
}
.mailinput {
    width: 420px;
    background-color: transparent;
    outline: 0;
    border-width: 0 0 1.5px;
}
#tickets {
    margin-top: 28px;
}
#ticketslist  {
    display: inline-block;
    width: 440px;
    margin-top: 2px;
   
}
#prices {
    display: inline-block;
}
.radiobutton {
    line-height: 10px;
    height: 20px;
    
}
/* .prices {
    margin-left: 258px;
    font-weight: bold;
    text-align: right;
} */

.price {
    font-weight: bold;
    text-align: right;
    
}
.radio {
    margin-top: 8px;
}
#how {
    margin-top: 48px;
}