main {
    width: 600px;
    height: 800px;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: 40px;
    margin-left: calc((100% - 500px)/2);
}

#info {
    margin-left: 60px;
    padding-top: 40px;
}

#eventdetails {
    margin-top: 40px;
}

#column {
    float: left;
    width: 30px;
    margin-top: 20px;
    height: 340px;
    color: rgb(92, 92, 92);
}

.dots {
    font-size: 25px;
    height: 10px;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 0px;
}

#cart {
    width: 15px;
    margin-left: 7px;
    height: 15px;
}

#infocolumn {
    float: left;
    width: 440px;
    margin-top: 20px;
    height: 340px;
}

.topline {
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    height: 16px;
    
}
.topline2 {
    font-size: 12px;
    font-weight: 520;
    color: rgb(48, 48, 48);
}


.firstname {
    display: inline-block;
    margin-top: 5px;
}
.lastname {
    display: inline-block;
    margin-left: 15px;
    margin-top: 5px;
}

.nameinput {
    width: 200px;
    background-color: transparent;
    outline: 0;
    border-width: 0 0 1.5px;
    
}
#nameinfo {
    margin-top: 0px;
}
#mail {
    margin-top: 20px;
}
.mailinput {
    width: 420px;
    background-color: transparent;
    outline: 0;
    border-width: 0 0 1.5px;
    font-size: 8px;
    margin-top: 5px;
}
#tickets {
    margin-top: 26px;
}
#ticketslist  {
    display: inline-block;
    width: 440px;
    margin-top: 2px;
   
}
#prices {
    display: inline-block;
}
.radiobutton {
    line-height: 10px;
    height: 20px;
    
}


.price {
    font-weight: bold;
    text-align: right;
    
}
.radio {
    margin-top: 5px;
}
#how {
    margin-top: 33px;
}

.left {
    width: 138px;
    height: 80px;
    display: inline-block;
    
}
.mid {
    width: 137px;
    height: 80px; 
    display: inline-block;
    margin-left: 10px;
}
.right {
    width: 137px;
    height: 80px;
    display: inline-block;
    margin-left: 10px;
}
.ch {
    margin-top: 5px;
  
}
.num {
    width: 110px;
    display: inline-block;
    font-size: 12px;
}
.border {
    margin-top: 2px;
    border-style: solid;
    border-width: 1px;
    
}
.radio2 {
    margin-top: 3px;
    margin-left: 2px;
}
.Friend {
    margin-top: 2px;
}
footer {
    float: left;
    margin-top: 80px;
    margin-left: 70px;
    
}
.button {
    float: left;
    margin-top: 20px;
    margin-left: 245px;
    background-color:rgb(199, 40, 61) ;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 35px;
    border-radius: 50px;
    border-width: 0;

}